@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #706f6f;
  --color-light-gray: #d4d4d4;
}
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;border: none;border-radius: 5px;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('../img/space.jpg');
  background-repeat: no-repeat;
  background-color: var(--color-black);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

.game__info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

canvas {
  border: 2px solid var(--color-white);
  box-shadow: 0 0 22px rgba(0, 0, 0, 0.75);
}

.btn {
  font-weight: bold;
  padding: 12px 22px;
  font-size: 26px;
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn:hover {
  color: var(--color-white);
  background-color: var(--color-gray);
}

.btn-start {
  position: absolute;
}

.btn-info {
  padding: 5px 20px;
}

.btns-services-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 25px;
}

.btns-services {
  position: relative;
  top: -10px;
  z-index: 1;
  align-items: center;
}

.btns-services > button {
  margin-left: 10px;
  padding: 10px 25px;
  font-size: 20px;
}

.modal-registration-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-registration {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
  height: 200px;
  color: var(--color-gray);
  border-radius: 5px;
  background-color: var(--color-white);
}

.modal-registration label {
  display: block;
  margin-top: 10px;
}

.modal-registration input {
  width: 100%;
  height: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

.modal-registration select {
  width: 100%;
  height: 20px;
}

.form-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.modal-registration button {
  padding: 5px 15px;
  font-size: 20px;
  border: 1px solid var(--color-light-gray);
  border-radius: 5px;
}

.modal-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-info img {
  position: absolute;
  top: calc(50% - 245px);
  left: calc(50% - 225px);
  width: 450px;
  height: 520px;
}

.hidden {
  display: none;
}